* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #010101;
}

.container {
  width: 370px;
  height: 760px;
  margin: 2% auto;
  padding: 5px;
  background: linear-gradient(180deg, #0ea7f9, #03346E);
  border-radius: 10px;
  position: relative;
}

.banner {
  width: 100%;
  height: 20%;
  background-image: url(https://4kwallpapers.com/images/wallpapers/avengers-endgame-thor-captain-america-iron-man-thanos-3840x2160-2037.png);
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  border-radius: 5px 5px 0 0;
}

.profil-img {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 100px;
  left: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #03346E;
}

.profil-img img {
  width: 100%;
}

.online-status {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 95px;
  top: 170px;
  border-radius: 50%;
  background-color: #23a559;
  border: 4px solid #03346E;
}

.badges {
  width: 100px;
  height: 35px;
  position: absolute;
  margin: 15px 0;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.badges img {
  margin: 8px 2px;
}

.second-container {
  width: 100%;
  height: 79%;
  background: linear-gradient(180deg, #0ea7f9, #03346E);
  margin-top: 1%;
  padding: 60px 20px 10px;
  border-radius: 0 0 5px 5px;
}

.second-container .content {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
}

.name-profile {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.24);
}

.name-profile h1 {
  font-size: 23px;
}

.name-profile p:nth-child(2) {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

.name-profile p:nth-child(3) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.about-me h2,
.member-since h2,
.activity-user h2,
.notes-user h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

.member-since .member-container {
  display: flex;
  margin-bottom: 10px;
}

.member-since .member-container img {
  width: 20px;
  margin-right: 10px;
}

.member-since .member-container p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

img.spotify-logo {
  width: 20px;
  position: absolute;
  right: 40px;
}

.spotify-songs {
  display: flex;
  margin-bottom: 10px;
}

.spotify-songs h3 {
  font-size: 14px;
}

.spotify-songs p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.spotify-songs img {
  width: 65px;
  margin-right: 10px;
}

.music-playbar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.playbar {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: rgba(118, 118, 118, 0.3);
}

.playbar-2 {
  width: 45%;
  height: 3px;
  border-radius: 10px;
  background-color: #dbdee1;
  position: absolute;
}

.minute-playbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.play-spotify {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button.play-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 5px 0;
  border: none;
  outline: none;
  background-color: #03346E;
  border-radius: 5px;
}

button.play-now img {
  margin-right: 10px;
}

button.play-now span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

button.play-alone {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #03346E;
}

.notes-user span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
