:root {
  --st: #134B70;
  --rd: #508C9B;
  --th: #EEEEEE;
}
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--st);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--th);
}
.nav {
  color: var(--th);
  font-size: 16px;
  padding: 15px 0;
}
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.container {
  position: relative;
  width: 100vw;
}
.container > h1 {
  position: absolute;
  top: 25vh;
  left: 50%;
  translate: -50% -50%;
  color: var(--th);
  font-size: 25px;
}
#scroll-wrapper {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#scroll-wrapper > div {
  scroll-snap-align: start;
  background-color: var(--st);
  width: 100vw;
  height: 100vh;
}
.timeline {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--th);
}
.container:first-child > .timeline {
  left: 50%;
  width: 50%;
}
.container:last-child > .timeline {
  width: 50%;
}
.timeline-pointer {
  position: absolute;
  top: 0;
  translate: -50% -37.5%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--th);
}
.timeline-pointer:first-child {
  left: 25%;
}
.timeline-pointer:last-child {
  left: 75%;
}
.container:first-child > .timeline > .timeline-pointer {
  left: 0;
}
.container:last-child > .timeline > .timeline-pointer {
  left: 100%;
}
.history-card {
  width: 30%;
  height: 100px;
  background-color: var(--th);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  border-radius: 0 10px 10px 10px;
  transition: all .5s ease-in-out;
}
.history-card:hover {
  transform: scale(1.03);
}
.history-card > h1 {
  padding: 0 10px;
  text-decoration: underline;
  background-color: var(--th);
  color: var(--rd);
  font-size: 25px;
  display: flex;
}
.history-card > h1::before {
  content: "";
  flex: 1;
  transform: skew(-50deg) translateX(-30px);
  background-color: var(--st);
}
.history-card > p {
  padding: 8px 10px;
  font-weight: 700;
  /* border-right: 20px solid var(--rd); */
  box-sizing: border-box;
  flex: 1;
}
.history-card.top {
  position: absolute;
  top: 25vh;
  left: 25%;
  translate: -50% 0;
}
.history-card.bottom {
  position: absolute;
  top: 60vh;
  left: 75%;
  translate: -50% 0;
}
.container:first-child > .history-card,
.container:last-child > .history-card {
  position: absolute;
  top: 60vh;
  left: 50%;
  translate: -50% 0;
}

#footer {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: var(--st);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px var(--th);
}
.foot {
  padding: 15px 0;
  color: var(--th);
}